{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="contact-form-container">
  <div class="contact-us">
    <div class="contact-header">
      <h1>
        &#9135;&#9135;&#9135;&#9135;&nbsp;&nbsp;PROFILE
      </h1>
    </div>
  </div>
  <div class="header">
    <h1>
      Let's Get Started
    </h1>
    <h2>
      Here is your Profile! 
    </h2>
  </div>
  <div class="address">
  <h5  style="position:relative;top:-20px;">Name</h5>
    
    <h2 style="position:relative;top:-15px;">
      {{ uname }}
    </h2>
    
  </div>
  
  <div class="email">
    <h5  style="position:relative;top:-20px;">Overall Happiness</h5>
    <h2 style="position:relative;top:-15px;">
      {{ overallhap }}%
    </h2>
    
  </div>
  
  <div class="phone">
  <h5  style="position:relative;top:-20px;">Email</h5>
   
    <h2 style="position:relative;top:-15px;">
      {{ uemail }}
    </h2>
  </div>

  <div class="contact-form">
     <h2 style="text-align: center; padding-bottom: 10px;">Session Details</h2>
    <!-- <form>
      <input placeholder="Your Last Session" type="text" /><input placeholder="......" type="email" /><textarea placeholder="......" rows="4"></textarea>
    </form> -->
    <div class="sessions" style="padding-left: 20px; padding-top: 30px;">
    <h3>Your recent Session-</h3>
    <br>
     <p>{{ date }}</p>
     <br>
    <h3>Past Records-</h3>
    <br>
    <br>
<table class="table table-borderless center">
  <thead>
    <tr>
      <th scope="col">Sr No.</th>
      <th scope="col" style="width: 250px;">Your Past Sessions</th>
      <th scope="col">Happiness Rate</th>
    </tr>
  </thead>
  <tbody>
  {% for i in sentiments %}
              
           
    <tr>
      <th scope="row">{{ i.sessionno }}</th>
      <td style="text-align: center;">Session {{i.sessionno}}</td>
      <td style="text-align: center;">{{i.sentiment}}</td>
    </tr>
    {% endfor %}
    {% comment %} <tr>
      <th scope="row">2</th>
     <td style="text-align: center;">Session 1</td>
      <td style="text-align: center;">rate 1</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td style="text-align: center;">Session 1</td>
      <td style="text-align: center;">rate 1</td>
    </tr> {% endcomment %}
  </tbody>
</table>

    
    

    </div>
  </div>
</div>